Repository KharlamovVA/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - echo "BE_JOB_ID=$CI_JOB_ID" >> job_vars.env
  - echo BE_JOB_NAME=$CI_JOB_NAME >> job_vars.env
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - ${CI_PROJECT_DIR}/.m2/
    - backend/target/
    reports:
      dotenv: job_vars.env

build-frontend-code-job:
  stage: build
  script:
  - echo "FE_JOB_ID=$CI_JOB_ID" >> job_vars.env
  - echo FE_JOB_NAME=$CI_JOB_NAME >> job_vars.env
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend
    reports:
      dotenv: job_vars.env

telegram-notification-backend:
  stage: notify
  script:
  - echo $BE_JOB_NAME
  needs:
  - build-backend-code-job

telegram-notification-frontend:
  stage: notify
  script:
  - echo $FE_JOB_NAME
  needs:
  - build-frontend-code-job

Build all stages v 3.1
  .gitlab-ci.yml
Due: none

Build all stages v 3.2
  .gitlab-ci.yml
Due: none

Build all stages v 3.5
  .gitlab-ci.yml
Due: none

Add cache v 1.0
  .gitlab-ci.yml
Due: none

Add cache v 2.0
  .gitlab-ci.yml
Due: none

Add cache v 2.5
  .gitlab-ci.yml
Due: none

Add cache v 3.0
  .gitlab-ci.yml
Due: none

Add cache v 3.2
  .gitlab-ci.yml
Due: none

Add cache v 3.6
  .gitlab-ci.yml
Due: none

Add cache v 3.7
  .gitlab-ci.yml
Due: none

Add cache v 4.0
  .gitlab-ci.yml
Due: none

Add cache v 4.5
  .gitlab-ci.yml
Due: none

Reporting available now
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/resources/log4j2.yml
  backend/src/main/resources/logback.xml
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: build-backend-code-job, telegram-notification-backend

Exchange pom file
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Exchange pom file v. 1.1
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Exchange ci file v. 1.0
  .gitlab-ci.yml
  backend/settings.xml
Due: build-backend-code-job, telegram-notification-backend

Exchange ci file v. 1.5
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.0
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.5
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.6
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.7
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.8
  .gitlab-ci.yml
Due: none

Exchange ci file v. 2.9
  .gitlab-ci.yml
Due: none

Exchange ci file v. 3.0
  .gitlab-ci.yml
Due: none

Exchange ci file v. 3.1
  .gitlab-ci.yml
Due: none

Exchange ci file v. 3.2
  .gitlab-ci.yml
Due: none

Exchange ci file v. 3.5
  .gitlab-ci.yml
Due: none

Exchange ci file v. 3.6
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Exchange ci file v. 3.7
  .gitlab-ci.yml
Due: none

Exchange ci file v. 4.0
  .gitlab-ci.yml
Due: none

Exchange ci file v. 4.5
  .gitlab-ci.yml
Due: none

Deploy v. 1.0
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

Deploy v. 1.1
  .gitlab-ci.yml
Due: none

Deploy v. 1.5
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job, telegram-notification-backend

Deploy v. 1.8
  backend/deploy.sh
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, telegram-notification-backend, telegram-notification-frontend

Deploy v. 2.0
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job, telegram-notification-backend

Deploy v. 3.0
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, telegram-notification-frontend

Deploy v. 3.5
  frontend/deploy.sh
Due: build-frontend-code-job, telegram-notification-frontend

Deploy v. 3.6
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, telegram-notification-frontend

Deploy v. 4.0
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, telegram-notification-frontend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  telegram-notification-backend: any of: backend/*
  telegram-notification-frontend: any of: frontend/*
