Repository KharlamovVA/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*
  telegram-notification-backend: any of: backend/*
  telegram-notification-frontend: any of: frontend/*

Deploy v. 4.1
  frontend/deploy.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.2
  frontend/deploy.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.5
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.6
  backend/sausage-store-backend.service
Due: build-backend-code-job, upload-backend-release, telegram-notification-backend

Deploy v. 4.8
  backend/.gitlab-ci.yml
  backend/deploy_bc.sh
  frontend/.gitlab-ci.yml
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 4.9
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.9.1
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.9.5
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 4.9.8
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.0.0
  backend/.gitlab-ci.yml
  backend/deploy_bc.sh
  frontend/.gitlab-ci.yml
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.0.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.0.7
  backend/deploy_bc.sh
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.0.9
  backend/deploy_bc.sh
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.1.0
  backend/deploy_bc.sh
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

Deploy v. 5.1.1
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 5.1.5
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 5.1.6
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

Deploy v. 5.5.0
  backend/deploy_bc.sh
  frontend/deploy_fr.sh
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

fix task 2 v. 1.0.0
  backend/.gitlab-ci.yml
  backend/deploy_bc.sh
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy_fr.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

fix task 2 v. 1.0.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

fix task 2 v. 1.1.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

fix task 2 v. 1.1.6
  backend/.gitlab-ci.yml
Due: build-backend-code-job, upload-backend-release, telegram-notification-backend

fix task 2 v. 1.1.9
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

fix task 2 v. 1.5.0
  frontend/deploy_fr.sh
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

fix task 2 v. 2.0
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.0.0
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.0.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.0.7
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.1.0
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.1.1
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.1.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.1.8
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.1.9
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.2.0
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, upload-frontend-release, telegram-notification-frontend

add environment v. 1.2.1
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.2.5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.2.6
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.2.7
  backend/.gitlab-ci.yml
Due: build-backend-code-job, upload-backend-release, telegram-notification-backend

add environment v. 1.2.8
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend

add environment v. 1.2.9
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, upload-backend-release, upload-frontend-release, telegram-notification-backend, telegram-notification-frontend
